# --index-url https://artefact.skao.int/repository/pypi-all/simple
aiokafka
fastapi
pydantic
starlette
loguru
uvicorn[standard]
requests
black
pyarrow
protobuf
confluent-kafka
six
matplotlib
seaborn
jupyter
numpy