--index-url https://artefact.skao.int/repository/pypi-all/simple
python-casacore
aiokafka
pydantic
starlette
loguru
pyarrow
protobuf==3.20.*
six
matplotlib
seaborn
jupyter
jupyterlab
notebook
numpy
pandas
black